version: 1.0.{build}
branches:
  only:
  - main
  - develop
image: Ubuntu2404
shallow_clone: true
elevation: true
init:
# C++ compiler:           g++-11 gcc-11 make
# juce_core:              libcurl4-openssl-dev
# juce_graphics:          libfreetype6-dev libfontconfig1-dev
# juce_audio_devices:     libasound2-dev libjack-jackd2-dev
# juce_audio_processors:  ladspa-sdk
# juce_gui_basics:        libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libwebkit2gtk-4.0-dev
# juce_opengl:            libglu1-mesa-dev mesa-common-dev
- sh: >-
    apt-get update -y
    
    apt install -y g++-11 gcc-11 make  \
                          libcurl4-openssl-dev  \
                          libfreetype6-dev libfontconfig1-dev  \
                          libasound2-dev libjack-jackd2-dev  \
                          ladspa-sdk  \
                          libx11-dev libxcomposite-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev libwebkit2gtk-4.0-dev  \
                          libglu1-mesa-dev mesa-common-dev
        
    update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-11 100 --slave /usr/bin/g++ g++ /usr/bin/g++-11 --slave /usr/bin/gcov gcov /usr/bin/gcov-11
    
install:
- sh: >-
    cd "$APPVEYOR_BUILD_FOLDER"

    git submodule update --init --recursive
build_script:
- sh: >-
    cd NanoOcp1Demo/Resources/Deployment/Linux

    chmod +x build_Demo.sh

    ./build_Demo.sh
notifications:
- provider: Email
  to:
  - christianahrens@me.com
  - '{{commitAuthorEmail}}'
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false
