version: 1.0.{build}
branches:
  only:
  - main
  - develop
image: macOS-sonoma
install:
- sh: >-
    cd "$APPVEYOR_BUILD_FOLDER"
    
    git submodule update --init --recursive
build_script:
- sh: >-
    cd NanoOcp1Demo/Resources/Deployment/macOS

    chmod +rwx build_Demo.sh
    
    ./build_Demo.sh
notifications:
- provider: Email
  to:
  - christianahrens@me.com
  - '{{commitAuthorEmail}}'
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false